<div class="container">
    <div class="card text-bg-primary">
        <div class="text-center">
            <h2 class="card-header">APP LEARNING</h2>
            <div class="row mx-1">
                <div class="col">
                    <curso-name-view [courseName]="course"></curso-name-view>
                </div>
                <div class="col">
                    <curso-id-view [courseId]="course"></curso-id-view>
                </div>
            </div>
            <div>
                <div class="p-3">
                    <estudiantes-view [estudiantesView]="course.students"></estudiantes-view>
                </div>
            </div>
        </div>
    </div>
</div>